body {
    background-color: #FFFFFF;
    background-image: url("https://www.hegemonie.be/static/img/back-general.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-size: contain;
	margin: 10px;
	padding: 0px;
	display: grid;
	grid-template-columns: auto 500px 400px auto;
}

* {
    font-family: Helvetica, Tahoma, sans-serif;
    color: black;
}

header { grid-row: 1; grid-column: 2; }
nav    { grid-row: 1; grid-column: 3; }
main   { grid-row: 2; grid-column: 2 / 4; }
body footer { grid-row: 3; grid-column: 2 / 4; }

header {
	margin-top: 10px;
	margin-bottom: 30px;
}

header h1 {
    font-size: 48px;
    color: deeppink;
}

header h2 {
    font-size: 24px;
    color: darkorange;
}

header h1, header h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

main {
	background-color: rgba(255, 255, 255, 0.9);
}

article time { font-size: 12px; font-style: italic; }
article h1 { font-size: 22px; color: black; }
article h2 { font-size: 20px; color: black; margin: 30px 0px 5px 0px; }
article h3 { font-size: 18px; color: darkslategray; margin: 25px 0px 5px 0px; }
article h4 { font-size: 16px; color: darkslategray; margin: 20px 0px 5px 0px; }
article p  { font-size: 14px; color: darkslategray; }
article p.signature { font-style: italic; }

nav {
	padding: 5px;
}

nav a {
	font-size: 24px;
	border: 1px solid black;
	text-decoration: none;
	padding: 5px;
	background-color: white;
}
