body { background-color: #FFFFFF; margin: 10px; padding: 0px; }

* { font-family: Helvetica, Tahoma, sans-serif; color: black; }

nav a { font-size: 18px; text-decoration: none; padding: 0px; }

aside div { margin-bottom: 10px; }
aside a { font-size: 18px; text-decoration: none; }
aside h2 { margin: 2px; }
aside p { font-size: 16px; margin: 2px; }
aside p time { font-size: 14px; display: inline; font-style: italic; }

header { margin: 10px 0px 10px 0px; }
header h1 { font-size: 80px; color: deeppink; }
header h2 { font-size: 36px; color: darkorange; }
header h1, header h2 {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

main article { background-color: rgba(255, 255, 255, 0.7); }
main article h1 { display: none; }
main article h2 { font-size: 24px; color: black; margin: 30px 0px 5px 0px; }
main article h3 { font-size: 20px; color: darkslategray; margin: 25px 0px 5px 0px; }
main article p  { font-size: 16px; color: darkslategray; }
main article li { font-size: 16px; color: darkslategray; }
main article a  { font-size: 16px; color: darkslategray; font-weight: bold; }
main article time { font-size: 12px; font-style: italic; }

@media all {
	@media (min-width: 1300px) {
		body {
			background-image: url("https://www.hegemonie.be/static/img/back-general.jpg");
			background-repeat: no-repeat;
			background-position: right;
			background-attachment: fixed;
			background-size: contain;
		}
		body {
			display: grid;
			grid-template-columns: auto 900px 400px auto;
		}
		header { grid-row: 1; grid-column: 2; }
		header * { vertical-align: middle; }
		nav    { grid-row: 1; grid-column: 3; vertical-align: middle; padding: 30px; }
		nav a  { display: block; }
		aside  { grid-row: 2; grid-column: 3; padding: 30px; }
		aside * { display: block; }
		main   { grid-row: 2; grid-column: 2; }
		footer { grid-row: 3; grid-column: 3; }
	}
	@media (max-width: 1300px) {
		body {
			display: grid;
			grid-template-columns: auto 600px 300px auto;
		}
		header { grid-row: 1; grid-column: 2; }
		nav    { grid-row: 1; grid-column: 3; justify-content: center; }
		nav a  { display: block; }
		main   { grid-row: 2; grid-column: 2 / 4; }
		footer { grid-row: 3; grid-column: 2 / 4; }
	}
}
